body {background-color: azure;}
select {border-radius: 18px; border:1px dotted #0071b5; font: 16px Fantasy; height: 36px; background-color:#C4EDE3; cursor: pointer; text-align: center;}
div#piano {
 position: relative;
 color: #808080;
 height: 102px;
 top:10px;
}
div.ivory {
 position: absolute;
 left: 0px;
 top: 0px;
 border-left: 1px solid;
 width: 1363px;
}
.ivory span {
 background-color: #fffff0;
 padding: 0px;
 margin: 0px;
 border: 1px solid;
 border-left: 0px;
 display: inline-block;
 width: 28px;
 height: 100px;
 vertical-align: top;
}
div.ebony {
 position: absolute;
 left: 0px;
 top: 0px;
 margin-left: 25px;
 width: 1363px;
}
.ebony span {
 position: relative;
 z-index: 1;
 background-color: #111;
 padding: 0px;
 margin: 0px;
 border: 1px solid;
 display: inline-block;
 width: 15px;
 height: 70px;
 margin-right: 16px;
 vertical-align: top;
}
.ebony span.break {
 border: 0px;
 display: inline-block;
 width: 1px;
 margin-right: 18px;
 visibility:hidden;
}
.ivory span.on, .ebony span.on {
  background-color: #aaa;
}
.ivory span.col, .ebony span.col { background-color: #5DA5AF;}
.center {margin: 12%;}